
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

 @{ if (ViewBag.result != null)
     {
         @ViewBag.result
     }
     else
     {

     using (@Html.BeginForm())
     {
<div>
    @Html.Label("Enter No1")
    @Html.TextBox("txtNo1")
</div>
<div>
    @Html.Label("Enter No2")
    @Html.TextBox("txtNo2")
</div>
<div>
    @Html.Label("Result")
    @Html.TextBox("txtResult")
</div>
 <button type="submit"> Divide </button>
     }

 }
    }